<!DOCTYPE html>
<html>
<head>
    <title>HIA Immersion TUSM</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #5967e7;
            color: #fafafa;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .navbar-nav {
            margin-right: auto; /* Push the navbar to the left */
        }

        h1 {
            color: #ffffff;
        }

        section {
            margin-bottom: 20px;
        }

        ul {
            list-style: disc;
            margin-left: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        
    </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Python Code Card</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css">
        
</head>
</head>
<body>
    <header>
        <h1>Tufts University Health Informatics and Analytics Immersion Fall 2023</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CaseStudy1">Case1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CaseStudy2">Case2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Resource">Resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- Introduction -->
        <section>
            <div class="container mt-2">
                <div class="card">
                    <div class="card-body"> 
                        <h2 class="card-title">Introduction</h2>
                        
                            <p>In the annals of modern healthcare, the shadow of racism looms as a pervasive and deeply troubling issue. The undeniable truth is that racism has cast a long, dark pall over the healthcare system, particularly within the confines of hospitals. Its pernicious influence is felt not only by patients but also by healthcare professionals who strive to provide equitable and compassionate care to all.</p>
                            <p>In the medical setting, Black patients receive less pain treatment. In fact, a 2016 study by Hoffman and colleagues interviewed 121 White medical students and found 73% of them believing that Black people can tolerate higher pain due to genetic differences. Such false beliefs could in turn cause unjust pain treatments. For instance, Todd and colleagues found that in emergency rooms, only  57% of Black patients received analgesics for bone fractures, contrasting to 75% in White patients, despite similarity in the level of self-reported pain. Compared to White children, Black and Latino children are less likely to have their condition classified as an emergency, less likely to be admitted to hospital after an emergency room visit, and less likely to have blood tests, CT scans, and X-rays procedures prescribed. Such reports on healthcare injustice can go on and on.</p>
                            <p>The consequences of racial bias in healthcare are profound and far-reaching. It has led to disparities—such as the ones mentioned above—in access to care, misdiagnoses, inadequate treatment, and even loss of life. The structural inequities that underlie these disparities are deeply embedded in the fabric of healthcare institutions, from hiring practices to patient care protocols.</p>
                            <p>In this case study, we embark on a journey to explore the imperative of transforming hospitals into anti-racist institutions. By acknowledging the historical and contemporary roots of racism in healthcare, we aim to shed light on the pressing need for change. Through proactive measures, hospitals can dismantle systemic racism, foster inclusivity, and ultimately provide equitable care to all patients, regardless of their race or ethnicity. In doing so, we endeavor to unveil a path towards a future where healthcare is truly just and accessible to everyone, as it should be.</p>
                    </div>

                </div>
            </div>
        
            
        </section>
        <div class="container">
            <img class="img-fluid" src="{{ url_for('static', filename='images/Img_BLM.jpg') }}" alt="Image 1">
        </div>

        <br>
        <section>
            <div class="text-center"><h2>Case studies</h2></div>
            <div class="row"> 
                <div class="col">
                    <div class="container mt-2">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="text-center"><h5 class="card-title">Case Study 1</h5></div>
                                <div class="text-center">
                                    <a href="CaseStudy1" class="btn btn-primary", color="blue">Examining Pain Scores</a>
                                </div>
                            </div>
                            <ul>
                                <li> In this exercise, you will use either R or Stata to perfrom basic statistical analysis.</li>
                                <li> You will primarily explore pain scores and medications received by ED patients</li>
                                <li> You will generate simple statistics</li>
                                <li> You will create report highlighting any difference in pain treatment by gender and race/ethnicity. </li>
                            </ul>    
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="container mt-2">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="text-center"><h5 class="card-title">Case Study 2</h5></div>
                                <div class="text-center"><h5 class="btn btn-primary", color="blue">Sickle Cell Anemia</h5></div>
                            </div>
                            <ul>
                                <li> You will download data from a web link</li>
                                <li> Using any programming language, you will idenfity cases of Sickle Cell Anemia</li>
                                <li> You will generate simple statistics</li>
                                <li> You will perform simple hypothesis testing </li>
                            </ul> 
                        </div>
                    </div>
                </div>

                

            </div>
            
        </section>
    
        <!-- Examples of Accessing the API Using Python -->
        
    <footer>
        <p>Tufts University School of Medicine</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-r.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
